* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    background: #051D3B;

    padding: 0 32px;
    font-size: 16px;
}

span {
    font-size: 80%;
}

header {
    max-height: 56px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    margin: 32px 0;
}

header .logo {
    margin-right: 40px;
    width: 260px;
    height: 42px;
}

header .logo img {
    width: 90%;
    height: 100%;
}

header .search {
    width: 100%;
}

header .search #search-input {
    width: 100%;
    height: 42px;

    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    color: white;
    outline: none;
    padding-left: 16px;
}

header .search #search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}   

.search-button {
    display: none;
}

header .profile {
    margin-left: 40px;
    width: 380px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

header .profile-info {
    display: flex;
    align-items: center;
}

header .profile-info img {
    margin-right: 8px;
    width: 36px;
}

header .profile-info span {
    color: #fff;
}

.menubar {
    display: none;
}

main {
    display: flex;
    max-width: 1440px;
}

.left-menu {
    max-height: 100vh;
    width: 260px;
    color: #fff;
    margin-right: 40px;
}

.left-menu span:first-child {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.left-menu .code-editor, .left-menu .community {
    display: flex;
    align-items: center;
    margin: 16px 0;
    cursor: pointer;
}

.left-menu .code-editor span, .left-menu .community span {
    margin-left: 8px;
}

.left-menu .code-editor .image, .left-menu .community .image  {
    background: #5081FB;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 42px;
    min-height: 42px;
    border-radius: 16px;
}

.left-menu .community span {
    color: rgba(255, 255, 255, 0.5);
}

.left-menu .community .image {
    background: rgba(80, 129, 251, 0.16);
}

.left-menu .fa-users {
    opacity: 0.4;
}

.right-menu {
    height: 100vh;
    width: 380px;
    color: #fff;
    margin-left: 40px;
}

.right-menu span:first-child {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.right-menu input[type="text"], .right-menu textarea {
    width: 100%;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    color: white;
    outline: none;
    padding-left: 12px;
}

.right-menu textarea {
    padding: 14px 12px;
    margin-bottom: 16px;
    resize: none;
}

.right-menu input[type="text"] {
    margin: 16px 0;
    height: 36px;
}

.right-menu select {
    margin: 16px 0;
    width: 100%;
    height: 36px;
    background: rgba(255, 255, 255, 0.16);
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 0 8px;
}

.right-menu .color {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #fff;
    padding: 4px;

    display: flex;
    align-items: center;
}

.right-menu input[type="color"] {
    width: 100%;
    background: none;
    -webkit-appearance: none;
    border-radius: 8px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 4px;
}

input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}  

.right-menu button {
    width: 100%;
    height: 38px;
    background: #5081FB;
    border-radius: 8px;
    color: #051D3B;
    cursor: pointer;
    margin-top: 16px;
}

section {
    width: 100%;
}

.background-code {
    width: 100%;
    height: 50vh;
    background: #6BD1FF;
    border-radius: 8px;
    padding: 32px;
}

.code {
    background: black;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 16px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.code textarea {
    background: transparent;
    color: white;
    padding: 12px;
    resize: none;

    margin-top: 14px;

    font-family: "Roboto mono";
    font-weight: 300;
    width: 100%;
    height: 100%;
    outline: none;
}


section button {
    width: 100%;
    height: 42px;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    color: #fff;
    margin: 32px 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

section button:hover {
    background: rgba(80, 129, 251, 0.12);
}


@media screen and (max-width: 1160px) {
    span {
        font-size: 80%;
    }

    input, input::placeholder, textarea, textarea::placeholder, option {
        font-size: 90%;
    }

    textarea#code {
        font-size: 70%;
    }
}


@media screen and (max-width: 780px) {

    header .logo {
        margin-right: 20px;
    }

    header .profile {
        max-width: 10px;
    }

    header .profile-info {
        display: none;
    }

    .menubar {
        display: flex;
        align-items: center;
    }

    .menubar i {
        color: #fff;
        font-size: 1.2rem;
    }

    main {
        flex-direction: column;
    }

    .left-menu {
        display: none;
    }

    .right-menu {
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        margin-bottom: 32px;
    }

    .right-menu .color {
        border-radius: 6px;
        margin-left: 12px;
    }

    .right-menu input[type="color"] {
        border-radius: 6px;
    }

    .right-menu .color-option {
        display: flex;
        align-items: center;
    }
    
}

@media screen and (max-width: 380px) {
    body {
        padding: 0 16px;
    }

    .search-button {
        display: flex;
        justify-content: flex-end;
    }

    .search-button i {
        color: #fff;
        font-size: 1.2rem;
    }

    #search-input {
        display: none;
    }

}