.pessoas {
    display: flex;
    padding-top: 3rem;
    justify-content: space-around;
}

.pessoa {
    display: flex;
    flex-direction: column;
}

.pessoa__nome {
    margin: 1rem 0;
    font-family: pacifico, cursive;
    color: #8d0606;
    font-size: 2rem;
}

.pessoa__funcao {
    text-transform: lowercase;
    color: #595959;
    font-size: 1.25rem;
}

.pessoa__imagem {
    background-size: cover;
    width: 300px;
    border-radius: 100%;
    height: 300px;
    background-position: center;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.pessoa__imagem--roberta {
    background-image: url(../../assets/img/pessoas/roberta.jpg);
}

.pessoa__imagem--marcela {
    background-image: url(../../assets/img/pessoas/marcela.jpg);
}

.pessoa__imagem--andreia {
    background-image: url(../../assets/img/pessoas/andreia.jpg);
}

@media screen and (min-width: 0) {
    .pessoa {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .pessoa {
        margin-bottom: 0;
    }
}

