.quem-somos__titulo {
    margin-bottom: 1rem;
    color: #8d0606;
    font-size: 3.1875rem;
    font-family: pacifico, cursive;
}

.quem-somos {
    text-align: center;
    padding: 5rem;
}

.quem-somos__descricao {
    font-weight: 100;
    font-size: 1.75rem;
    color: #595959;
}

@media screen and (min-width: 0) {
    .pessoas {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .pessoas {
        flex-direction: row;
    }
}